<div id="personal-content">
  <div id="row-top">
    <div class="vertical-line-special"></div>
      <h1><%= personalInfo[0].name %></h1>
    </div>
  <div id="row">
    <p><%= personalInfo[0].title[0] %></p>
  </div>
</div>
