<div id="body">
  <div id="body-content">


      <div class="project-slot" data-aos="fade-up">
        <div class="image-title">
            <h2>_</h2>
            <br>
          <a href="/img/tp.png">
            <div class="project-name">
              <h2>Tappy Intro</h2>
            </div>
          </a>
          <h2>_</h2>
          <br>
          <p>
            A smart tap that uses computer vision to detect what you are doing with a tap and adjusts flow rate and duration to suit, improving water efficiency. 
          </p>

          <h2>_</h2>
            <br>
          <a href="/img/tp.png">
            <div class="project-name">
              <h2>How does it work?</h2>
            </div>
          </a>
          <h2>_</h2>
          <br>
          <p>
            A computer vision algorithm together with a camera identifies the object presented to the tap.
            Tappy then uses a closed loop control system to learn and adjust water delivery by object, based on feedback from use of the tap over time.
            All these components are housed and connected by 3D-printed parts.
          </p>


        </div>

        <a href="/img/tp.png">
          <img src="/img/tp.png" alt="">
        </a>

        <div class="project-video">
          <iframe title="A 3D model"  src="https://sketchfab.com/models/18b3e8a7af53444d81336d642c4f49f0/embed?autostart=0&amp;ui_controls=1&amp;ui_infos=1&amp;ui_inspector=1&amp;ui_stop=1&amp;ui_watermark=1&amp;ui_watermark_link=1" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true">
          </iframe>
        </div>

      </div>



      <div class="project-slot" data-aos="fade-up">
        <div class="image-title">
            <h2>_</h2>
            <br>
          <a href="/img/tpr.png">
            <div class="project-name">
              <h2>What makes Tappy?</h2>
            </div>
          </a>
          <h2>_</h2>
          <br>
          <p>
            Tappy uses a stepper motor connected to a needle valve to allow fine control of the flow rate. The stepper motor is connected to an arduino via a motor shield. Finally, huskylens, an ML-enabled object detector is connected to the arduino. The arduino facilitates the communication between the husky and the motor, and also allows a fine control of flow rate and duration to ultimately control for volume. 
          </p>

          <h2>_</h2>
            <br>
          <a href="/img/tp.png">
            <div class="project-name">
              <h2>Why Tappy?</h2>
            </div>
          </a>
          <h2>_</h2>
          <br>
          <p>
            The Alliance for Water Efficiency, UTS and the Pacific Institute (Turner et al. 2016) categorises responses to the threat of drought according to two categories: 
            1) Supply-side measures such as new dams, desalination plants and wastewater recycling: and  
            2) Demand-side measures such as water use restrictions and water efficiency measures  
            We’re focused here on water efficiency measures through our tap.  
            Our vision is to tackle water efficiency to mitigate the threat of drought on our critical water infrastructure.      
          </p>

        </div>
        <a href="/img/tpr.png">
          <img src="/img/tpr.png" alt="" height="120%">
        </a>

        <div class="project-video">
          <iframe src="https://player.vimeo.com/video/477781201" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
          </iframe>
        </div>
      </div>



      <div class="project-slot" data-aos="fade-up">
        <div class="image-title">
            <h2>_</h2>
            <br>
          <a href="/img/final.png">
            <div class="project-name">
              <h2>Open source</h2>
            </div>
          </a>
          <h2>_</h2>
          <br>
          <p>
            You can find the code for the tap <a href="https://github.com/nedcpr/tappy"><u>here</u></a>!
            The design for 3D printed material is <a href="tappy.zip"><u>here</u></a>!
          </p>
        </div>
        <a href="/img/final.png">
          <img src="/img/final.png" alt="">
        </a>
      </div>





    <!-- </div> -->
  </div>
</div>
