<div id="sticky-bar">
  <h1><a href="/"><strong>TAPPY</strong></a></h1>
</div>

<div id="navbar">
  <div id="navbar-content"data-aos="fade-up">

<!-- PERSONAL -->
    <h2>_</h2>
    <br>

    <h1 style="font-size:410%;">TAPPY</h1>
    <p>A Tap With a Vision</p>

    <!-- <div class="spacer">
    </div> -->
    <br>
    <h2>_</h2>
    <br>

<!-- PROJECTS -->
    <div id="project-content">
      <!-- <div id="row-top">
        <h1>Project Index</h1>
      </div> -->



    <!-- space -->
    <br>

    <!-- APPLICATIONS -->
    <h1>By</h1>
    <br>
    <br>
    <li><a href="https://twitter.com/LorennRuster"><strong>Lorenn </strong>@LorennRuster</a></li>
    <li><a href="https://twitter.com"><strong>Ned </strong></a></li>
    <li><a href="https://twitter.com/nischmainali"><strong>Nisch </strong>@nischmainali</a></li>
    <li><a href="https://twitter.com/teff_times_two"><strong>Teff </strong>@teff_times_two</a></li>

    <!-- <div class="spacer">
    </div> -->

  </div>
</div>

</div>
