<div id="row-top">
  <div class="vertical-line"></div>
  <h1><%= project.project %></h1>
  <h1><%= project.date %></h1>
</div>
<div id="row">
  <div class="vertical-line"></div>
  <p><%= project.tags %></p>
</div>
<br>
<div id="row">
  <div class="vertical-line"></div>
  <p><%= project.description %></p>
</div>
<br>
<div id="row">
  <div class="vertical-line"></div>
  <p><a href="/">>>> <strong>[RETURN TO INDEX]</strong></a></p>
</div>
<!-- <br> -->
