<!DOCTYPE html>
<html lang="en">
<head>
  <!-- head ejs -->
  <% include devlog/head.ejs %>
</head>

<body>

<div id="header">
</div>

<div id="content">
  <%- parsedDevLog %>
</div>


</body>
</html>
