<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- head ejs -->
  <% include partials/head.ejs %>
</head>

<body>
  <canvas id = "canvas" style='position:fixed; width: 100%; left:1%; top:2px;'>
  </canvas>
  <!-- navbar ejs -->
  <% include partials/nav.ejs %>

  <!-- body ejs -->
  <% include partials/body.ejs %>
  



<!-- AOS FADE SCRIPTS -->
<!-- <script src="https://unpkg.com/aos@next/dist/aos.js"></script> -->
<!-- <script>AOS.init();</script> -->
</body>
</html>
