<meta charset="UTF-8">
<title>dev_log</title>
<link rel="icon" href= "/icons/logo.jpg"  type="image/ico">

<!-- normalize css -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
<!-- fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/wvd2qfh.css">
<!--Css-->
<link rel="stylesheet" href= "/css/devlog.css" >
